
<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="192x192"" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE4eglstd3jT0onJI5llmxegm38o7dntaQ0A&usqp=CAu">
  <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE4eglstd3jT0onJI5llmxegm38o7dntaQ0A&usqp=CAu">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Perfil | Komi-San API
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- Extra details for Live View on GitHub Pages -->
  
  <!-- Canonical SEO -->
  <link rel="canonical" href="https://leyscoders-api.herokuapp.com" />
  <!--  Social tags      -->
  <meta name="keywords" content="leyscoders, baileyscoders">
  <meta name="description" content="About Of developer leyscoders api">
  <!-- Open Graph data -->
  <meta property="fb:app_id" content="655968634437471">
  <meta property="og:title" content="Profile"/>
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://leyscoders-api.herokuapp.com" />
  <meta property="og:image" content="https://telegra.ph/file/74d047366cedf9bc64320.jpg" />
  <meta property="og:description" content="About Of developer leyscoders api" />
  <meta property="og:site_name" content="Leyscoders" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>

<link rel="stylesheet" href="sus.css">
</head>
<body>
  
  <div class="profile-card">
    <div class="card-header">
      <div class="pic">
        <img src="https://yt3.ggpht.com/IdgCEeuzNVVfaXGXGjlRDrauMdVx-JB5JJ9zVV48DONCP8XuYtq4JGw7LzXiK7cPQbIs0kFJ=s100-c-k-c0x00ffffff-no-rj" alt="">
      </div>
      <div class="name">Android Technology</div>
      <div class="desc">Hola mundo presento mi apodo es Android Technology unos de mis pasatiempo es ver anime y crear bots.</div>
      <div class="sm">
        <a href="https://wa.me/51961928452" class="fab fa-whatsapp"></a>
        <a href="https://github.com/Android-Tec" class="fab fa-github"></a>
        <a href="https://m.youtube.com/channel/UCC777Eegzmtgs_W7jllXmwQ" class="fab fa-youtube"></a>
      </div>
      <a href="https://chat.whatsapp.com/D23kwPycP7UEJL95RSY1jI" class="contact-btn">Contactame</a>
    </div>
    <div class="card-footer">
      <div class="numbers">
        <div class="item">
          <span>6,97K</span>
          Subscriptores
        </div>
        <div class="border"></div>
        <div class="item">
          <span>1.056</span>
          Seguidores
        </div>
        <div class="border"></div>
        <div class="item">
          <span>59,8k</span>
          Likes
        </div>
      </div>
    </div>
  </div>
</body>
</html>